* {padding: 0;
   margin: 0;
   font-family: verdana;
   font-size: 18px;
   text-decoration: none;
	
}

body {background-image: back.jpg;
      text-align: center;
}
div#menu{
	width: 800px;
    margin: 90px auto;
		font-weight: bold;
}

ul#tart{
	list-style: none;
}

ul#tart li{
	float: left;
	background: lightblue;
	width: 100px;
	margin: 0 2px 0 0;
}

ul#tart li a{
	padding: 10px;
	display: block;
}

ul#tart li:hover {
	background: white;
}

ul#tart li a:hover, a:visited, a:link, a:active {
	color: black;
	font-size: 20px;
	font-weight: bold;
}

ul#tart li div{
   display: none;
   position: absolute;
   padding: 10px 0 0 0;
}

ul#tart li div a{
   display: inline;
}
ul#tart li:hover div{
	display: block;
}
ul#tart li:hover div a:hover{
	text-decoration: underline;
}

h1 {
       font-size: 30px;
	 line-height: 50px;
}

h2 {
	 line-height: 30px;
	  font-size: 25px;
}


table { margin: auto;
	   
}

p{font-size: 20px;
	
}

table td {border: 1px  solid black;
}
#donate {font-size: 20px;
	     background-color: lightyellow;
	     border: 2px black;
}
.sor {font-weight: bold;
      	border: 0px
	
}

#brot {
	border: 0px
}
#brot2 {
	border: 0px;
	vertical-align: top;
}

#coc {line-height: 100px;
	
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}

a.badge:hover, a.badge:focus {
  text-decoration: none;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #2c3e50;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: #1a252f;
}

a.badge-primary:focus, a.badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.5);
}

.badge-secondary {
  color: #fff;
  background-color: #95a5a6;
}

a.badge-secondary:hover, a.badge-secondary:focus {
  color: #fff;
  background-color: #798d8f;
}

a.badge-secondary:focus, a.badge-secondary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(149, 165, 166, 0.5);
}

.badge-success {
  color: #fff;
  background-color: #18bc9c;
}

a.badge-success:hover, a.badge-success:focus {
  color: #fff;
  background-color: #128f76;
}

a.badge-success:focus, a.badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(24, 188, 156, 0.5);
}

.badge-info {
  color: #fff;
  background-color: #3498db;
}

a.badge-info:hover, a.badge-info:focus {
  color: #fff;
  background-color: #217dbb;
}

a.badge-info:focus, a.badge-info.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.5);
}

.badge-warning {
  color: #fff;
  background-color: #f39c12;
}

a.badge-warning:hover, a.badge-warning:focus {
  color: #fff;
  background-color: #c87f0a;
}

a.badge-warning:focus, a.badge-warning.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(243, 156, 18, 0.5);
}

.badge-danger {
  color: #fff;
  background-color: #e74c3c;
}

a.badge-danger:hover, a.badge-danger:focus {
  color: #fff;
  background-color: #d62c1a;
}

a.badge-danger:focus, a.badge-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.5);
}

.badge-light {
  color: #212529;
  background-color: #ecf0f1;
}

a.badge-light:hover, a.badge-light:focus {
  color: #212529;
  background-color: #cfd9db;
}

a.badge-light:focus, a.badge-light.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(236, 240, 241, 0.5);
}

.badge-dark {
  color: #fff;
  background-color: #7b8a8b;
}

a.badge-dark:hover, a.badge-dark:focus {
  color: #fff;
  background-color: #636f70;
}

a.badge-dark:focus, a.badge-dark.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(123, 138, 139, 0.5);
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #ecf0f1;
  border-radius: 0.3rem;
}
/*Tables*/
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
